@page
@model Omazan.Pages.ConfirmationModel
@{
}


<div class="m-auto text-center">
    <h1>Order Submitted!</h1>
    <hr />
    <br />
    <br />
    <a class="btn btn-outline-primary btn-lg" asp-controller="Home">Return to Home</a>
</div>